a {
  color: #11999E;
}

a:hover {
  color: #EAF6F6;
}

body {
  color: #40514E;
  margin: 0;
  text-align: center;
}


h1 {
  color: #66BFBF;
  font-family: 'Sacramento', cursive;
  font-size: 100px;
  line-height: 2;
  margin-top: 50px;
  font-weight: bold;
}

     
h2 {
  color: #3D84B8;
  font-family: 'Pattaya', sans-serif;
  font-size: 4rem;
  font-weight: normal;
  padding-bottom: 5px;
}

h3 {
  color: #8A8A8A;
  font-family: 'Nanum Pen Script', cursive;
  font-size: 2.5rem;
}

      
hr {
  border: dotted #EAF6F6 10px;
  border-bottom: none;
  width: 4%;
}

p {
  color: #8A8A8A;
  font-family: 'Nanum Pen Script', cursive;
  font-size: 1.8rem;
  line-height: 2;
}

.bottom-cloud{
  position: absolute;
  left: 200px;
  bottom: 100px;
}
  
.copyright{
  color: #EAF6F6;
  font-size: 0.75rem;
  font-family: 'Pattaya', sans-serif;
  padding: 20px 0;
}


.features {
  background-color: #A6D6D6;
  padding-bottom: 20px;
  padding-top: 20px;
  width: 50%;
}

.friends-box {
  margin-top: 150px;
  margin-bottom: 150px;
  font-family: 'Nanum Pen Script', cursive;
  font-size: 1.8rem;
  line-height: 2;
}
  
.intro {
  width: 30%;
  margin: auto;
  padding-bottom: 50px;
}

.middle-container {
  margin: 100px 0;
} 


.mountain {
  width: 50%;
}

.navbar{
  padding: 0 0 4.5rem;
}

.navbar-brand{
  font-family: "Ubuntu";
  font-size: 4rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  color: #3D84B8;
}





.raw {
  width: 50%;
}

.second-container {
  background-color: #A6D6D6;
}
  
.top-container{
  background-color: #E4F9F5;
  position: relative;
  padding-top: 400px;
}

.top-cloud{
  position: absolute;
  right: 100px;
  top: 100px;
}

#footer {
  background-color: #66BFBF;
  padding: 100px 0 100px;
}
  
