body{
  font-family: "Montserrat";
}

body {
  background-color: #F8F5F1;
}

h1 {
  color: #480032;
}
      
h2 {
  color: #CE1F6A;
}
      
hr {
  border-style:none;
  border-top-style:dotted;
  border-color: #DA7F8F;
  border-width: 6px;
  width: 50%;
}
